<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Joan&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"   href="css/style.css">
</head>
<body>
    <nav>
        <h3>PuckTracker</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/enterInfo">Roster</a></li>
            <li><a href="/gameFlow">Gameflow</a></li>
            <li><a href="/FAQ">FAQ</a></li>
        </ul>
    </nav>
    <section class="headerContainer">
        <header >
            <h1>SET YOUR ROSTER AND KEEP TRACK</h1>
            <p>Keep track of the entire squad with the simple interface provided below.</p>
        </header>
        <section class="rosterContainer">
            <header>
                <h3>Home Team Roster</h3>
                <p>Check out our FAQ for clarification</p>
            </header>
            <section class="tableContainer">
                <form action="/addPlayer" method="POST">
                    <input type="text" placeholder="Insert Player Name" name="playerName">
                    <input value="Enter" type="submit">
                </form>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>GP</th>
                            <th>G</th>
                            <th>A</th>
                            <th>P</th>
                            <th>PIM</th>
                            <th>PPG</th>
                            <th>PPP</th>
                        </tr>
                    </thead>
                             <% for(var i=0; i < data.length; i++) { %>
                                 <tr>
                                   <td><span class="trashCan"><img class ="trash" src="photos/trash.png"></span><%= data[i].playerName %></td>
                                   <td><span class="minus removeGP">- </span><%= data[i].gp %><span class="add addGP"> +</span></td>
                                   <td><span class="minus removeG">- </span><%= data[i].g %><span class="add addG"> +</span></td>
                                   <td><span class="minus removeA">- </span><%= data[i].a %><span class="add addA"> +</span></td>
                                   <td><span class="minus"></span><%= data[i].p %><span class="add"></span></td>
                                   <td><span class="minus removePIM">- </span><%= data[i].pim %><span class="add addPIM"> +</span></td>
                                   <td><span class="minus removePPG">- </span><%= data[i].ppg %><span class="add addPPG"> +</span></td>
                                   <td><span class="minus removePPP">- </span><%= data[i].ppp %><span class="add addPPP"> +</span></td>
                                 </tr>
                              <% } %>
             </table>
            </section>
        </section>
        <section class="gameflowButton">
            <button onclick="location.href = '/gameFlow'"">HEAD TO GAMEFLOW</button>
        </section>
    </section>
    <script src="js/main.js"></script>
</body>
</html>